mixin card(iconClass, img, caption, title, description, url, linkText)
  .goal__card.card
    .icon-container.card__icon-container.icon-container--round
      img(class='icon-container__icon '+ iconClass +'' src=img alt=caption)
    h3.title.card__title #{title}
    p.text.card__text #{description}
    a.link.uppertext.card__uppertext(href=url) 
      .link__text #{linkText}
      .link__icon.link__icon--arrow